In [5]:
import os
import pandas as pd
folder_path = "/Users/wanc/Desktop/CloudComp/PM2.5"

result_df = pd.DataFrame()

for filename in os.listdir(folder_path):
    if filename.endswith(".xlsx"):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_excel(file_path, engine='openpyxl')
        if "Date" in df.columns and "54T" in df.columns:
            df["Date"] = pd.to_datetime(df["Date"]).dt.date
            df = df.dropna()
            df = df[["Date", "54T"]]
            result_df = pd.concat([result_df, df], ignore_index=True)
result_df.to_excel("/Users/wanc/Desktop/CloudComp/data_pm_54T.xlsx", index=False, engine='openpyxl')

In [41]:
import os
import pandas as pd
from dateutil.parser import parse

def parse_thai_date(date_str):
    thai_months = {
        'มกราคม': 'January',
        'กุมภาพันธ์': 'February',
        'มีนาคม': 'March',
        'เมษายน': 'April',
        'พฤษภาคม': 'May',
        'มิถุนายน': 'June',
        'กรกฎาคม': 'July',
        'สิงหาคม': 'August',
        'กันยายน': 'September',
        'ตุลาคม': 'October',
        'พฤศจิกายน': 'November',
        'ธันวาคม': 'December'
    }
    
    parts = date_str.split()
    day = int(parts[0])
    month = thai_months[parts[1]]
    year = int(parts[2]) - 543
    
    return parse(f"{year}-{month}-{day}", dayfirst=True)

file_path = "/Users/wanc/Desktop/CloudComp/Sirindhorn_Dam.xlsx"
df = pd.read_excel(file_path)
df = df.iloc[2:-2]
df.rename(columns={"Unnamed: 1": "Date", "Unnamed: 8": "Quantity"}, inplace=True)
df['Date'] = df['Date'].apply(lambda x: parse_thai_date(x) if isinstance(x, str) else None)
df.dropna(subset=['Date'], inplace=True)
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
columns_to_drop = ['ตารางสรุปสภาพน้ำใน เขื่อนสิรินธร ภาคตะวันออกเฉียงเหนือ ', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 
                   'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']
df.drop(columns=columns_to_drop, inplace=True)
df = df.iloc[3:]
df.to_excel("/Users/wanc/Desktop/CloudComp/Sirindhorn_Data.xlsx", index=False, engine='openpyxl')
file_path = "/Users/wanc/Desktop/CloudComp/Sirindhorn_Data.xlsx"
df = pd.read_excel(file_path)
print(df.columns)
df

Index(['Date', 'Quantity'], dtype='object')

            Date  Quantity
0     2018-09-25   1369.00
1     2018-09-26   1374.00
2     2018-09-27   1376.00
3     2018-09-28   1379.00
4     2018-09-29   1386.00
...          ...       ...
1787  2023-09-18   1636.37
1788  2023-09-19   1633.78
1789  2023-09-20   1649.00
1790  2023-09-21   1657.10
1791  2023-09-22   1657.10

[1792 rows x 2 columns]

In [35]:
import os
import pandas as pd
from dateutil.parser import parse

def parse_thai_date(date_str):
    thai_months = {
        'มกราคม': 'January',
        'กุมภาพันธ์': 'February',
        'มีนาคม': 'March',
        'เมษายน': 'April',
        'พฤษภาคม': 'May',
        'มิถุนายน': 'June',
        'กรกฎาคม': 'July',
        'สิงหาคม': 'August',
        'กันยายน': 'September',
        'ตุลาคม': 'October',
        'พฤศจิกายน': 'November',
        'ธันวาคม': 'December'
    }
    
    parts = date_str.split()
    day = int(parts[0])
    month = thai_months[parts[1]]
    year = int(parts[2]) - 543
    
    return parse(f"{year}-{month}-{day}", dayfirst=True)

file_path = "/Users/wanc/Desktop/CloudComp/Huai_Hin_Kong_Dam.xlsx"
df = pd.read_excel(file_path)
df = df.iloc[2:-2]
df.rename(columns={"Unnamed: 1": "Date", "Unnamed: 6": "Quantity"}, inplace=True)
df['Date'] = df['Date'].apply(lambda x: parse_thai_date(x) if isinstance(x, str) else None)
df.dropna(subset=['Date'], inplace=True)
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
columns_to_drop = ['ตารางสรุปสภาพน้ำใน อ่างเก็บน้ำห้วยหินกอง จ.อุบลราชธานี ', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 
                   'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']
df.drop(columns=columns_to_drop, inplace=True)
df = df.iloc[3:]
df.to_excel("/Users/wanc/Desktop/CloudComp/Huai_Hin_Kong_Data.xlsx", index=False, engine='openpyxl')
file_path = "/Users/wanc/Desktop/CloudComp/Huai_Hin_Kong_Data.xlsx"
df = pd.read_excel(file_path)
print(df.columns)
df

Index(['Date', 'Quantity'], dtype='object')

            Date  Quantity
0     2018-09-25      8.44
1     2018-09-26      8.40
2     2018-09-27      8.40
3     2018-09-28      8.36
4     2018-09-29      8.40
...          ...       ...
1819  2023-09-18      8.76
1820  2023-09-19      8.96
1821  2023-09-20      8.76
1822  2023-09-21      8.60
1823  2023-09-22      8.80

[1824 rows x 2 columns]

In [38]:
import os
import pandas as pd
from dateutil.parser import parse

def parse_thai_date(date_str):
    thai_months = {
        'มกราคม': 'January',
        'กุมภาพันธ์': 'February',
        'มีนาคม': 'March',
        'เมษายน': 'April',
        'พฤษภาคม': 'May',
        'มิถุนายน': 'June',
        'กรกฎาคม': 'July',
        'สิงหาคม': 'August',
        'กันยายน': 'September',
        'ตุลาคม': 'October',
        'พฤศจิกายน': 'November',
        'ธันวาคม': 'December'
    }
    
    parts = date_str.split()
    day = int(parts[0])
    month = thai_months[parts[1]]
    year = int(parts[2]) - 543
    
    return parse(f"{year}-{month}-{day}", dayfirst=True)

file_path = "/Users/wanc/Desktop/CloudComp/Huay_Duen_Ha_Dam.xlsx"
df = pd.read_excel(file_path)
df = df.iloc[2:-2]
df.rename(columns={"Unnamed: 1": "Date", "Unnamed: 6": "Quantity"}, inplace=True)
df['Date'] = df['Date'].apply(lambda x: parse_thai_date(x) if isinstance(x, str) else None)
df.dropna(subset=['Date'], inplace=True)
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
columns_to_drop = ['ตารางสรุปสภาพน้ำใน อ่างเก็บน้ำห้วยเดือนห้า จ.อุบลราชธานี ', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 
                   'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']
df.drop(columns=columns_to_drop, inplace=True)
df = df.iloc[3:]
df.to_excel("/Users/wanc/Desktop/CloudComp/Huay_Duen_Ha_Data.xlsx", index=False, engine='openpyxl')
file_path = "/Users/wanc/Desktop/CloudComp/Huay_Duen_Ha_Data.xlsx"
df = pd.read_excel(file_path)
print(df.columns)
df

Index(['Date', 'Quantity'], dtype='object')

            Date  Quantity
0     2018-09-25     12.52
1     2018-09-26     12.34
2     2018-09-27     12.31
3     2018-09-28     12.34
4     2018-09-29     12.62
...          ...       ...
1819  2023-09-18     12.21
1820  2023-09-19     12.10
1821  2023-09-20     12.45
1822  2023-09-21     12.31
1823  2023-09-22     12.93

[1824 rows x 2 columns]

In [ ]:
import os
import pandas as pd
from dateutil.parser import parse

def parse_thai_date(date_str):
    thai_months = {
        'มกราคม': 'January',
        'กุมภาพันธ์': 'February',
        'มีนาคม': 'March',
        'เมษายน': 'April',
        'พฤษภาคม': 'May',
        'มิถุนายน': 'June',
        'กรกฎาคม': 'July',
        'สิงหาคม': 'August',
        'กันยายน': 'September',
        'ตุลาคม': 'October',
        'พฤศจิกายน': 'November',
        'ธันวาคม': 'December'
    }
    
    parts = date_str.split()
    day = int(parts[0])
    month = thai_months[parts[1]]
    year = int(parts[2]) - 543
    
    return parse(f"{year}-{month}-{day}", dayfirst=True)

file_path = "/Users/wanc/Desktop/CloudComp/Huay_Duen_Ha_Dam.xlsx"
df = pd.read_excel(file_path)
df = df.iloc[2:-2]
df.rename(columns={"Unnamed: 1": "Date", "Unnamed: 6": "Quantity"}, inplace=True)
df['Date'] = df['Date'].apply(lambda x: parse_thai_date(x) if isinstance(x, str) else None)
df.dropna(subset=['Date'], inplace=True)
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
columns_to_drop = ['ตารางสรุปสภาพน้ำใน อ่างเก็บน้ำห้วยเดือนห้า จ.อุบลราชธานี ', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 
                   'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']
df.drop(columns=columns_to_drop, inplace=True)
df = df.iloc[3:]
df.to_excel("/Users/wanc/Desktop/CloudComp/Huay_Duen_Ha_Data.xlsx", index=False, engine='openpyxl')
file_path = "/Users/wanc/Desktop/CloudComp/Huay_Duen_Ha_Data.xlsx"
df = pd.read_excel(file_path)
print(df.columns)
df

In [40]:
import os
import pandas as pd
from dateutil.parser import parse

def parse_thai_date(date_str):
    thai_months = {
        'มกราคม': 'January',
        'กุมภาพันธ์': 'February',
        'มีนาคม': 'March',
        'เมษายน': 'April',
        'พฤษภาคม': 'May',
        'มิถุนายน': 'June',
        'กรกฎาคม': 'July',
        'สิงหาคม': 'August',
        'กันยายน': 'September',
        'ตุลาคม': 'October',
        'พฤศจิกายน': 'November',
        'ธันวาคม': 'December'
    }
    
    parts = date_str.split()
    day = int(parts[0])
    month = thai_months[parts[1]]
    year = int(parts[2]) - 543
    
    return parse(f"{year}-{month}-{day}", dayfirst=True)

file_path = "/Users/wanc/Desktop/CloudComp/Huay_Don_Dam.xlsx"
df = pd.read_excel(file_path)
df = df.iloc[2:-2]
df.rename(columns={"Unnamed: 1": "Date", "Unnamed: 6": "Quantity"}, inplace=True)
df['Date'] = df['Date'].apply(lambda x: parse_thai_date(x) if isinstance(x, str) else None)
df.dropna(subset=['Date'], inplace=True)
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
columns_to_drop = ['ตารางสรุปสภาพน้ำใน อ่างเก็บน้ำห้วยโดน จ.อุบลราชธานี ', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 
                   'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']
df.drop(columns=columns_to_drop, inplace=True)
df = df.iloc[3:]
df.to_excel("/Users/wanc/Desktop/CloudComp/Huay_Don_Data.xlsx", index=False, engine='openpyxl')
file_path = "/Users/wanc/Desktop/CloudComp/Huay_Don_Data.xlsx"
df = pd.read_excel(file_path)
print(df.columns)
df

Index(['Date', 'Quantity'], dtype='object')

            Date  Quantity
0     2018-09-25      4.86
1     2018-09-26      4.81
2     2018-09-27      4.77
3     2018-09-28      4.75
4     2018-09-29      4.74
...          ...       ...
1819  2023-09-18      4.84
1820  2023-09-19      4.77
1821  2023-09-20      4.81
1822  2023-09-21      4.77
1823  2023-09-22      4.88

[1824 rows x 2 columns]